body {
  background: #0b0b0b;
  color: #d4af37;
}
.top-bar {
  background: #000;
  color: #d4af37;
}

.top-bar i {
  font-size: 18px;
}

header {
  padding: 30px;
}

.logo {
  width: 120px;
  margin-bottom: 10px;
}
.hero {
  background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("images/banner.jpg") center/cover no-repeat;
}
.hero-content h1 {
  color: #f5e6b8;
  letter-spacing: 2px;
}

.hero-content p {
  color: #d4af37;
}

.hero-btn {
  background: #d4af37;
  color: #000;
  font-weight: bold;
}
.accordion-btn {
  background: #111;
  color: #d4af37;
  border: 1px solid #222;
}

.accordion-content {
  background: #0b0b0b;
}

.accordion-content a,
.accordion-content p {
  color: #f5e6b8;
}

.products-section {
  padding: 30px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.product-card {
  background: #111;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(255,215,0,0.2);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}

button {
  background: gold;
  color: black;
  border: none;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
/* Section title links (Chains, Bracelets, Earrings) */
.section-title {
  margin-bottom: 10px;
}

.section-link {
  color: #d4af37; /* luxury gold */
  text-decoration: none;
  font-weight: 600;
}

.section-link i {
  margin-right: 8px;
}

.section-link:hover {
  text-decoration: underline;
}
.category-card {
  text-decoration: none;
  color: gold;
}

.category-card img {
  width: 100%;
  max-width: 260px;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.category-card:hover img {
  transform: scale(1.05);
}

.category-card h3 {
  margin-top: 12px;
}
body {
  background: #0b0b0b;
  color: #d4af37;
}
.product-card img {
  width: 100%;
  height: 220px;          /* SAME HEIGHT FOR ALL */
  object-fit: cover;     /* keeps image neat */
  border-radius: 10px;
  background: #000;
}

